/**--------------------------------
# Admin Panel
---------------------------------*/ 
input.adm-retailer-input {
    padding: 5px 10px;
    width: 250px;
}
span.ret-row {
	display: block;
    margin-bottom: 5px;
}
.block-circle {
    font-size: 50px;
    color: red;
}


