/**-----------------------------------------------------------------
# Retailer-Packages Page
------------------------------------------------------------------*/
.retailer-package-container {
    display: inline-block;
    width: 170px;
    margin: 0 60px 45px 0;
    text-align: center;
    background: #fff;
}
.ozh-packages-content {
    height: 65px;
}
.ozh-post-thumbnail {
    height: 170px;
}
.ozh-post-thumbnail > img {
    margin: 15px 0 0 0;
    width: 150px;
    height: 150px;
}
.ozh-packages-content,
.package-title {
    text-align: center;
}
.package-title {
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
}
.retailer-price {
    position: relative;
    padding: 5px 0 10px 0;
}
.retailer-price-amount {
    font-size: 24px;
    margin: 0 0 0 -80px;
}
.buy-package,
.renewal,
.buy-free {
    position: absolute;
    padding: 5px 10px;
    color: white;
    background-color: #f05025;
    border-radius: 4px;
    text-align: center;
}
.buy-package {
    right: 10%;   
}
.renewal,
.buy-free {
    right: 5%;
}
span.trial {
    display: block;
}